{% extends 'layout.html' %}

{% block body %}
<div class="card container" style="text-align:center; color:white;background-color:cornflowerblue">
    <h1>
        Welcome to flask App
    </h1>
</div>

{% endblock %}